.title {
  margin: 2rem 0 2.2rem;
  line-height: 1.15;
  letter-spacing: 0.36rem;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}

.userCard {
  margin: 0.69rem;
  transition: all 0.15s ease-in-out;
}

.userCard:hover {
  transform: scale(1.03);
}

.editInputFields {
  margin: 1rem 0;
}

.footer {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 1.8rem 1.5rem 1.5rem;
}

.errorIcon {
  font-size: 14rem;
  text-align: center;
  margin: 5rem 0 3.5rem;
}

.errorText {
  font-size: 1.2rem;
  text-align: center;
}

@media (max-width: 600px) {
  .title {
    font-size: 2.4rem;
  }
}
